



.navItems {
    color: #5D4037;

    font-size: 14px;
    font-weight: 100;
}


.businessName {
    text-align: center;
    color: #4E342E;
    padding-top: 90px;
    font-size: 90px;
    font-weight: 900;
    font-family: serif;
}


.mainPic {

    height: 1300px;
 

}

a:link {
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
    padding-left: 1050px;
    padding-top: 45px;
}

/* visited link */
a:visited {
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
    padding-left: 1050px;
    padding-top: 45px;
}
            


