.infoContainer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 35px;
}

.homeLink {
    color: white;
}
 
.info {
    padding-top: 100px;
}

.infpPagePic {
    background-image:image();
  }