.infoContainer {
    background-color: black;
    color: white;
    text-align: center;
}

.homeLink {
    color: white;
    padding-top: 100px;
    padding-left: 650px;
      
}
 
.info {
    padding-top: 100px;
}


    
.navItems {
    color: white;
    padding-left: 200px;
}
    
    
.infoContainer {
    color: white;
    padding-top: 100px;
}
    
    
.mainPic {
    width: 1524px;
    height: 750px;
 }
    
a:link {
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
    padding-left: 1050px;
    padding-top: 80px;
}

/* visited link */
a:visited {
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
    padding-left: 1050px;
    padding-top: 80px;
}
            
.location {
    padding-top: 50px;
    padding-left: 20px;
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
}

.phoneNumber {
    padding-left: 20px;
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
}

.hours {
    padding-left: 20px;
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
}

.inventory {
    padding-left: 20px;
    color: #4E342E;
    font-size: 25px;
    font-weight: 700;
}

